%div
  / 新規作成部分
  .row
    .col.s10.m11
      %input.form-control{:placeholder => "Add your task!!"}/
    .col.s2.m1
      .btn-floating.waves-effect.waves-light.red
        %i.material-icons add
  / リスト表示部分
  %div
    %ul.collection
      %li#row_task_1.collection-item
        %input#task_1{:type => "checkbox"}/
        %label{:for => "task_1"} Sample Task
      %li#row_task_2.collection-item
        %input#task_2{:type => "checkbox"}/
        %label{:for => "task_2"} Sample Task
      %li#row_task_3.collection-item
        %input#task_3{:type => "checkbox"}/
        %label{:for => "task_3"} Sample Task
  / 完了済みタスク表示ボタン
  .btn Display finished tasks
  / 完了済みタスク一覧
  #finished-tasks.display_none
    %ul.collection
      %li#row_task_4.collection-item
        %input{:checked => "checked", :id => "'task_4", :type => "checkbox"}/
        %label.line-through{"v-bind:for" => "task_4"} Done Task
      %li#row_task_5.collection-item
        %input{:checked => "checked", :id => "'task_5", :type => "checkbox"}/
        %label.line-through{"v-bind:for" => "task_5"} Done Task
