// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.unfinished-tasks-box{
  background-color:#01579b;
  width:400px;
  height:42.47px;
  padding: 10px 20px;
  box-sizing: inherit;
  border-radius: 0.2em;
  .tasks-logo{
    display: inline;
    color: white;
  }
}

.finished-tasks-box{
  background-color:#ef6c00 ;
  width:100%;
  height:42.47px;
  padding: 10px 20px;
  box-sizing: inherit;
  border-radius: 0.2em;
  .tasks-logo{
    display: inline;
    color: white;
  }
}

.waves-effect.waves-light.btn.modal-trigger{
  float:right;
}

#task-list-function{
  float:right;
}

#row_task_1.collection-item{
  position: relative;
}

.delete{
  float:right;
  position: absolute;
  bottom: 0;
  right:0;
}

.collection{
  margin: 0;
}

.edit-task{
  border-style: none;
  padding:0;
}

.test{
  border-style: none;
  color:firebrick;
  padding:0;
}


.modal-trigger{
  margin-top:10px;
}

.edit-task{
  transition: background-color .5s;
  cursor: pointer;
}

.edit-task:hover {
  background-color: #e0e0e0;
}

.test{
  cursor: pointer;
}