// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#task-list-function{
  float:right;
}

#row_task_1.collection-item{
  position: relative;
}

.delete{
  float:right;
  position: absolute;
  bottom: 0;
  right:0;
}

.collection{
  margin: 0;
}

.aiueo{
  border-style: none;
  padding:0;
}

.test{
  border-style: none;
  color:firebrick;
  padding:0;
}