#create-task-function{
  float:left;
}

#timer{
  font-size:60px;
}

.input-box__text{
  height: calc(70% - 56px);
}



#timer-function{
  float:left;
}

.create-task-logo{
  font-size:40px;
  color:#ee6e73;
  margin-top:10px;
  margin-left:20px;
}

.create-task{
  margin-top:10px;
  margin-left:10px;
}

.btn{
  font-family: 'Hiragino Mincho Pro'
}