nav{
  background-color:#212121;
}

.nav-button{
  transition: background-color 3000000000000000s;
  font-size: 1.5rem;
  border-style: none;
  padding: 0 15px;
  color: white;
  background-color: #212121;
  cursor: pointer;
}