// Place all the styles related to the timers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* line 765, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls > div {
  cursor: pointer;
  user-select: none;
  width: 220px;
  background: #000;
  height: 45px;
  line-height: 45px;
}

/* line 774, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

/* line 780, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls > div + div {
  margin-left: 20px;
}

/* line 784, /Users/miyagi/Desktop/work/ORT/app/assets/stylesheets/posts.scss */
.controls > div:hover {
  opacity: 0.7;
}